@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="height:auto;font-size:60px; font-weight:400;">Привет!</h1>
    <p>Чтобы зарегистрироваться на мероприятие - жми <a class="nav-link text-dark" asp-area="" asp-controller="mind" asp-action="magic" style="box-sizing:100px">Сюда</a><br/>Чтобы поприсутствовать зрителем - листай ниже</p>
</div>